/* navigation  */
#navigation{
    background: rgb(2,0,36);
    height: 100%;
background: linear-gradient(90deg, black 0%, #000000 35%, #3474db  100%);
}

#nav-link{
    color: whitesmoke;
    font-weight: bold;
    font-size: 17px;
    margin-left: 60px;
    
}

#navbar-brand{
    color: #78aaf5 ;
    font-weight: bolder;
    margin-left: 10px;
    font-size:25px;
    font-family: "MV Boli", sans-serif;
}
#logo-brand{
    margin-left: 2%;
}

.login-modal{
    background-color: #3474db  ;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    width: 400px;
}
.login-modal:hover{
    font-weight: bold;
    color: black;
}



/* hero */

.trans-fleet{
    color: #3474db  ;
    
}
#get-started{
    background-color: #3474db ;
    box-shadow: rgb(13, 13, 14) 0px 20px 30px -10px;
}
#service-intro{
    list-style-type: none;
}
.bx{
    color: #3474db  ;
    font-size: 22px;
}


/* Media querries */
@media only screen and (max-width: 600px) {
    #nav-link{
        margin-left: 0px;
        
    }
  }
